@keyframes bob{0%{top:0;}50%{top:0.2em;} 100%{top: 0em}}

@font-face {
	font-family: Feels-Fuzzy;
	src: url(../assets/fonts/FeeeelsFuzzyRegular.ttf);
	src: url(../assets/fonts/FeeeelsFuzzyRegular.woff);
	src: url(../assets/fonts/FeeeelsFuzzyRegular.woff2);
 }

 @font-face {
    font-family: 'misterpixel';
    src: url('../assets/fonts/mister_pixel_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/mister_pixel_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body, main {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


 h1, h2, h3, h4, h5, h6 {
    font-family: Feels-Fuzzy;
    color: black;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;    
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 100;
  }

  a {
      text-decoration: none;
      font-size: 2em;
  }


p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* BUTTON */

  a#about {
      padding: 20px;
      padding-top: 15px;

  }

  .popup {
    border-style: solid;
    border-width: 4px;
    font-family: 'misterpixel'; 
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="black" /></svg>');
    border-image-repeat: stretch;
    border-image-width: 2;
    border-image-slice: 2;
    border-image-outset: 2;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    padding: 20px 20px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: black;
    background-color: white;
  }

  #about {
    animation:bob 5s infinite alternate;
  }

  .popup h2 {
      font-size: 2.5em;
  }

  .popup h3 {
      font-size: 2em;
      margin-bottom: 10px;
  }

  .popup h4 {
      font-size: 1.5em;
      margin-bottom: 10px;
  }
  .popup a {
      font-size: 1em;
      color: blue;
  }

  #story {
      font-size: 2em;
      margin-bottom: 40px;
      padding: 10px;
      background-color: red; 
      border-radius: 10px;
      color: black;
      border: 3px solid black;
  }

  
  a:hover {
    opacity: .8;
}



.lity-content {
    transition: all 0s !important;
}

#about::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    right: -4px;
    left: -4px;
    content: "";
    box-shadow: inset -4px -4px rgba(0, 0, 0, 0.214);
  }
  
  #about:focus::after,
  #about:hover::after {
    box-shadow: inset -6px -6px rgba(0, 0, 0, 0.214);
  }


/* MAIN CONTENT  */

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
  }

  #edeeb, #lsct {
    width: 50vw;
    height: 100vh;
    position: relative;
  }

  #edeeb {
    animation:bob 2s infinite alternate;
    animation-delay: 1s;
  }

  #lsct {
    animation:bob 2s infinite alternate;
  }

  .obj {
      position: absolute;
      width: 45%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter:         drop-shadow(5px 5px 5px #222); 
      
  }
  .obj:hover {
      opacity: .9;
  }


  /* BACKGROUND */

.container{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


.container div {
    width: 100vw;
}

.container div p {
    text-indent: -10000px;
}

section {
    pointer-events: none;
}

section a {
    pointer-events: all;
}
  
  #section1 {
    min-height: 10%;
    height: 50%;
    max-height: 60%;
    background: yellow url('../assets/colo.png');
    background-size: 100vw 100%;

  }

  #section2, #section3 {
    height: 25%;
  }
  
  #section2{
    min-height: 5%;
    background: blue url('../assets/mitolo.png');;
    background-size: 100vw 100%;
    transition: all 0s;
  }
  #section3 {
    min-height: 5%;
      background: red url('../assets/gital.png');
      background-size: 100vw 100%;
      position: absolute;
      bottom: 0;
      max-height: 40%;
  }

@media only screen and (max-width: 750px) {

    section {
        display: block;
        overflow: scroll;
    }
    #edeeb, #lsct {
        width: 100vw;
        height: 50vh;
        position: relative;
      }

      .popup h2 {
        font-size: 2.5em;
    }
    .popup h3 {
        font-size: 2em;
        margin-bottom: 10px;
    }
    .popup h4 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .popup p {
      font-size: 1em;
    }
}